.content_profile{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
.profile_gral{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
   
 } 
 .profile_gral_info{
        display:flex;
        flex-direction: column;
        justify-content:space-evenly;
        gap: 30px;
        margin: 0 0 0 5rem ;
       
}
    .profile_gral_title{
        font-weight: 600;
        font-size: 3.2rem;
        }
    .img_profile{
        align-self:center;
        max-width: 100%;
        margin: 0 0 0 0;
}
.profile_soft_skills{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
  }
.cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
}
.profile_skills_intro{
    display: block;
    justify-content: centers;
  
}
.works_framework_all{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
  /*  display: none;*/
}

.proyectos_1{
    width:50%; 
 }
.proyectos1{
 width: 100%;
 height: 100%; 
}
.proyectos_2{
  display:flex;
  flex-direction: column;
  align-items:baseline;
  width: 50%;
}
.proyectos2  {
  width: 100%;
  height:33% ; 
 }
 .proyectos3 {
  width: 100%;
  height:33% ; 
 }
 .proyectos4 {
  width: 100%;
  height:33% ; 
 }

 .works_framework_software{
    
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    display:none;
    
    }

  .works_framework_courses{
        display:flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        display:none;
   } 

.works_framework_projects{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    display:none;
}

#sm_proyectos2:checked ~ .works_framework_software {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    
   }

#sm_proyectos2:checked ~ .works_framework_courses ~ .works_framework_projects  {
    display:none;
}
#sm_proyectos2:checked ~.works_framework_all{
    display:none;
}




#sm_proyectos3:checked ~.works_framework_all{
    display:none;
}
#sm_proyectos3:checked ~.works_framework_software  {
        display:none;
    }
#sm_proyectos3:checked ~.works_framework_courses{
        display:none;
    }
#sm_proyectos3:checked ~.works_framework_projects {
    
    display:flex;    
    
}



#sm_proyectos4:checked  ~.works_framework_projects{
    display:none;
    }  
#sm_proyectos4:checked  ~.works_framework_software{
        display:none;
        } 
 #sm_proyectos4:checked  ~.works_framework_all{
            display:none;
    }  
#sm_proyectos4:checked  ~.works_framework_courses{
    display:flex;
  } 



.software_proyecto{
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 50%;
}


.software_proyecto img{
    height: 100%;
    width: 100%;
}