
  
  * {
      box-sizing: border-box;    
      padding: 0;
      margin: 0;
    }
    
  html {
    font-size: 62.5%;
  }

:root{
    --eerie-black:#181828;
    --gunmetal:#2A2A39;
    --bright-gray:#EEEEEE;
    --white:#FFFFFF;
    --royal-orange:#FF9350;
    --deer-orange:#C28864;
    --raising-black:#2A2228;
    --sm:1.6rem;
    --md:1.8rem;
    --bg:2.4rem;
  } 
  body{
        font-family: "Raleway", sans-serif;
        font-optical-sizing: auto;
        font-size: var(--md);
        font-style: normal;
        background-color:var(--eerie-black);
        color:var(--white)
}

    
.profile_nav_ul li{
    display: inline-block;
    text-align: center;
    padding: 1.4rem 1.6rem;
    
}
.profile_nav_ul a{
    color:var(--white);
    text-decoration: none;
}

.profile_gral{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
 }
.img_profile{
    max-width: 100%;
    margin: 0 8rem 0 8rem;
    
}
.profile_gral_info{
    display:flex;
    flex-direction: column;
    justify-content: space-between;

    }

.profile_gral_title{
    font-weight: 600;
    font-size: 4.8rem;
    margin-top: 6rem;
     }

.profile_gral_subtitle{
    font-weight: 400;
    font-size: 4.0rem;
    }

.profile_gral_info--welcom
{
  color:var(--royal-orange);
  font-size: var(--bg);
}

.profile_gral_button{
    border-radius: 4px;
    cursor:pointer;
    font-size: var(--md);
    height: 4rem;
    width: auto;
    }
    
  .defect{
    background-color: var(--royal-orange);
    border:none;
    color:var(--eerie-black);
    padding: 1rem;
    
    }
  .secondary{
    background-color: var(--gunmetal);
    border: solid var(--royal-orange);
    border-width: 1px;
    color:var(--bright-gray);
    padding:0.5rem;
    
  }
 /* .profile_skills{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    width:100%;
  }*/
  .profile_soft_skills{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:100%;
  }
  .cards{
    display:flex;
    flex-direction: row;
    justify-content: center;
  }
  .profile_skills_intro{
    display: block;
    justify-content: centers;
  
  }
  .skill_card{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 320px;
    border: 0.1rem solid var(--gunmetal);
    font-family: sans-serif;
    padding: 1rem;
    margin: 0 0.5rem 0 0.5rem;
  }
  
  .skill_card_title{
     font-size: 2rem;
     font-weight: 200;
     color:var(--bright-gray);
     margin: 2rem 0 2rem 0;
  }

  .skill_card_icon{
    background-color:var(--gunmetal);
    /* box-shadow: 0px 5px 25px; */
    border:none;
    border-radius: 50%;
    bottom: 2.4rem;
    right: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.8rem;
    width: 4.8rem;
    z-index: 1;
    transform: rotate(0); 
    transition: .3s ease;
  }
  .skill_card_icon:hover {
    transform: rotate(-45deg);
    }
  #rm{
    display:none;
  }  
  
  .bgcontent{
    display:none;
  }

  #rm:checked ~ .bgcontent {
    display:block;
    
  }
  #rm:checked ~ .shcontent label{
    display:none;
  }

  .skill_card label{
    cursor:pointer;
    text-decoration: underline;
    display: inline-block;
    color:var(--royal-orange);
  }
.profile_hard_skills{
  display: flex;
  flex-direction: column;

}
#hard_skills_tree {
  position: relative;
  left:3rem;
}
#hard_skills_tree ul, #hard_skills_tree li {
  position: relative;
  left:3rem;
}
#hard_skills_tree ul{
  list-style: none;
}
#hard_skills_tree ul ul{
  display: none;
}

#hard_skills_tree li:hover>ul{
  display:block;
}

#hard_skills_tree li::before, #hard_skills_tree li::after {
  content: "";
  position: absolute;
  left: -1.2rem;
}
#hard_skills_tree li::before {
  border-top: 1px solid blueviolet;
  top: 0.9rem;
  width: 0.8rem;
  height: 0;
}

#hard_skills_tree li::after {
  border-left: 0.1rem solid brown;
  height: 100%;
  width: 0px;
  top: 0.2rem;
}

.hard_skills_tree ul > li:last-child::after {
  height: 0.8rem;
}
  /* @media (max-width:1234px){
    /*.profile_gral
    {
      display: grid;
      /* grid-template-rows: 300px 50px 50px 50px; 
      grid-template-rows: 300px 1fr 1fr 1fr;
      justify-content: center;
      align-content: space-between;
      width:100%;
      height: 100vh;    }
      
    .profile_gral
    {
      display: flex;
      flex-direction: column;
      justify-content: start;
      width: 100%;
         }
    
    .profile_gral_info{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
     }
    .profile_gral_title{
        font-weight: 600;
        font-size: 3.2rem;
        margin-top: 60px;
        }
    .img_profile{
        align-self:center;
        max-width: 100%;
        margin: 0 0 0 0;
}
    .profile_gral_subtitle{
        font-weight: 400;
        font-size: 2.6rem;
            }
  } */