 .content_profile{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
  } 

  .conten_img{
    height:60%;
   }
.profile_gral
  {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    justify-content:space-between;
    margin: 2rem;
  } 
  .profile_gral_info{
    display: flex;
    flex-direction: column;
    height: 40vh;
    justify-content: space-evenly;
 
  }

.profile_gral_title{
    font-weight: 600;
    font-size: 3.2rem;
    margin-top: 20px;
  
    }

.profile_gral_subtitle{
        font-weight: 400;
        font-size: 2.8rem;
 }

.profile_soft_skills{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 2rem;
  }

 .profile_skills_intro{
    display: block;
    justify-content: center;
} 

.cards{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 10rem;
 
}
/*¨Proyectos*/
.works_framework{
  width: 35rem;
  min-height: 40rem;
  min-width: 27rem;
  /*border: #FF9350 solid 0.2rem;*/
  display:flex;
  flex-wrap: wrap;
  flex-direction:column;
  justify-content: space-evenly;
  
  }
.works_framework_all{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  /*width: 80%;*/
}

.works_framework_software{
  
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  display:none;
 
  }

.works_framework_courses{
      display:flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: space-evenly;
      display:none;
 } 

.works_framework_projects{
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-evenly;
  /* border: var(--white) solid 0.2rem; */
  padding-left: 2.5 rem;
  padding-right: 2.5 rem;;
  margin: 0.1rem;
  display:none;
}

/* #sm_proyectos2:checked ~ .works_framework_software {
  display: flex;
 } 

#sm_proyectos2:checked ~ .works_framework_courses ~ .works_framework_projects {
  display:none;
}
#sm_proyectos2:checked ~.works_framework_all{
  display:none;
} */
.works_card{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
   
}
.works_card{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
  background-color:var(--gunmetal);
  /* width: 25rem;
  height: 35rem; */
  border-radius: 0.5rem;
  border: 0.2rem solid var(--white);
  margin: 0.1rem;
  height: 100%;
}
.works_framework_software p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
  text-align:justify;
 
}

.works_framework_software img{
  width:60%;
  height:30%;
} 
/*Software 1*/
#chbx_software1:checked ~ .proyecto1_desc {
  display: flex; 
  flex-direction: column;
}
/*Software 2*/
#chbx_software2:checked ~ .proyecto2_desc {
  display: flex; 
  flex-direction: column;
}

.project_ficha_tecnica{
  display: flex;
  flex-direction: column;
}
.abstract {
  width:100%;
  }
.other-info {
    width:100%;
    }

.project_content{
  display: flex;
  flex-direction: column;
  padding-top:2rem;
  width:100%;
  }
 .about_content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100vw;
    align-items: center;
}  